
.user-row{
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 958px;
    height: 90px;
    background: #1E262F;
    border-radius: 10px;
    padding:20px;
    margin:20px;
    margin-top: 40px;
    border-radius: 16px;
    left: 40px;
    top: 124px;

background: #1E262F;
border-radius: 10px;
}

.user-img{
    padding-right: 20px;
}

.user-details h3{
    display:inline-block;
    padding:0;
    margin:0;
    font-size: 14px;
}

.user-details h5{
    display:inline-block;
    padding:0;
    margin:0;
    font-size: 9px;
    font-weight: 100;
}

.user-details br{
    display:inline-block;
    padding:0;
    margin:0;
    line-height: 0;
}

.user-details{
    margin: 28px;
    margin-right: 38px;
    font-size: 12px;
}

.user-steps-pie{
    margin-right:8px;
    margin-left:20px;
}

.user-steps-target h4{
    padding:0;
    margin:0;
    font-size: 16px;
    margin-right: 20px;
}

.target-weight-less{
    padding:0;
    margin:0;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    font-weight: 100;
}

.user-steps-target > * {
    margin: 2px 2px 2px 2px;
}

.user-steps-target{
    display:inline-flex;
    flex-direction: column;
    margin-right: 46px;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 38px;
    font-size: 12px;
    flex-wrap: wrap;
}

.increment-decrement-buttons > *{
    display:inline-block;
    width: 30px;
    height: 16px;
    left: 409px;
    top: 128px;
    background: #101317;
    border-radius: 4px;
}

.user-workout h5{
    display: inline-block;
    margin:0;
    padding:0;
    font-size: 13px;
}

.user-workout{
    margin:0;
    padding:0;
    font-size: 12px;
}

.btn-calendar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 60px;
    left: 819px;
    top: 353px;
    margin-left:20px;
    margin-right:20px;
    background: #101317;
    border-radius: 8px;
}

.piechart{
    margin:0;
    padding:0;
    height: 52.44px;
    width: 52.44px;
}

.user-calorie-intake{
    margin-left: 40px;
}

.user-calorie-target h3{
    display:inline-block;
    padding:0;
    margin:0;
    font-size: 14px;
}

.user-calorie-target h5{
    display:inline-block;
    padding:0;
    margin:0;
    font-size: 9px;
    font-weight: 100;
}

.user-calorie-target > * {
    margin: 2px 2px 2px 2px;
}

.user-calorie-target{
    display:inline-flex;
    flex-direction: column;
    margin-right: 46px;
    margin-top: 2px;
    margin-bottom: 2px;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 38px;
    font-size: 12px;
    flex-wrap: wrap;
}

.btn-calorie{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 60px;
    left: 819px;
    top: 353px;
    background: #101317;
    border-radius: 8px;
}

.notification-bell{
    width: 40px;
    height: 40px;
    left: 906px;
    top: 144px;
    margin-left: 70px;
    background: #36F5C7;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-calendar-red{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 60px;
    left: 819px;
    top: 353px;
    margin-left:20px;
    margin-right:20px;
    background: #CC3838;
    border-radius: 8px;
}

.equaldate{
    background: #CC3838;
    border: 10px;
}